<a href="https://colab.research.google.com/github/Anshika91/Anshi/blob/main/pandas_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. create a simple pandas Series.

In [4]:
import pandas
from pandas import Series as s
s1=s([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

2.Return the first and last values of the Series created above.

In [5]:
import pandas as pd
s1[0:4:3]

0    1
3    4
dtype: int64

3. Create a simple Pandas Series with your own labels i.e. index

In [6]:
import pandas as pd
s2=s([10,20,30,40,50],index=['a','b','c','d','e'])
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

4. Access the values using your own index and print the value, also try –ve index.

In [9]:
import pandas as pd
s2['d']
s2[-3]

30

5.Create a simple Pandas Series from a dictionary.

In [10]:
import pandas as pd
s3=s({1:'a',2:'b',3:'c'})
s3

1    a
2    b
3    c
dtype: object

6.Create a Series using only calories intake data from user defined indexes "day1","day2", and "day3"

In [11]:
import pandas as pd
s4=s([1500,2000,1300],index=['day1','day2','day3'])
s4

day1    1500
day2    2000
day3    1300
dtype: int64

7.Create a Series of heterogeneous data types and check the data type of the Series as well as individual items.

In [12]:
import pandas as pd
s5=s([1,1.2,'a',7,'s',5.5])
s5

0      1
1    1.2
2      a
3      7
4      s
5    5.5
dtype: object

8. Compute min, max, mean values of a Series.

In [13]:
import pandas as pd
max(s2)

50

In [14]:
import pandas as pd
min(s2)

10

In [15]:
import pandas as pd
s.mean(s2)

30.0

9. Compute the relative change percentage in values of a Series.

In [16]:
import pandas as pd
df=s([1,2,3,4,5])
df=(1+df.pct_change())
df

0         NaN
1    2.000000
2    1.500000
3    1.333333
4    1.250000
dtype: float64

10. Add items in a Series from another Series.

In [17]:
import pandas as pd
# case1:
s1=s([1,2,3,4,5])
s2=s([2,3,4,5,6])
s1.add(s2)

0     3
1     5
2     7
3     9
4    11
dtype: int64

In [18]:
# case2
import pandas as pd
s1=s([1,2,3,4,5,6])
s2=s([2,3,4,5])
s1.add(s2)

0    3.0
1    5.0
2    7.0
3    9.0
4    NaN
5    NaN
dtype: float64

In [19]:
#case 3
import pandas as pd
s1=s([1,2,3,4,5,6])
s2=s([2,3,4,5])
s1.add(s2,None,0)

0    3.0
1    5.0
2    7.0
3    9.0
4    5.0
5    6.0
dtype: float64

11. Create a Series of 20 items and print first 5 and last 5 elements of this Series. (use head and tail)

In [20]:
import pandas as pd
S=s(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t'])
S.head(5)
S.tail(5)

0    a
1    b
2    c
3    d
4    e
dtype: object

12. Assign new index to existing series.

In [22]:
import pandas as pd
s1=s([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [23]:
import pandas as pd
s1.index=['a','b','c','d','e']
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

113. Reset the index of an existing Series and delete the existing index.

In [24]:
import pandas as pd
s1=s([10,20,30,40,50],index=['a','b','c','d','e'])
s2=s1.reset_index()
s2

  index   0
0     a  10
1     b  20
2     c  30
3     d  40
4     e  50

In [25]:
s2.drop('index',axis=1,inplace=True)
s2

    0
0  10
1  20
2  30
3  40
4  50

14. Sort the values of a Series in ascending and descending order and print.

In [26]:
import pandas as pd
S=s([2,7,3,9,4,5])
S.sort_values(ascending=False)

3    9
1    7
5    5
4    4
2    3
0    2
dtype: int64

In [27]:
S.sort_values(ascending=True)

0    2
2    3
4    4
5    5
1    7
3    9
dtype: int64

15. Print the number of occurrences of unique values in a series. (use value_counts).

In [28]:
import pandas as pd
S=s([1,2,5,1,6,2,5,5,1])
S.value_counts()

1    3
5    3
2    2
6    1
dtype: int64

16. Create a Series of 10 integers, and later change its dtype to be float (use astype).

In [29]:
import pandas as pd
s1=s([10,20,30,40,50])
s1.astype(float)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

17. Convert the Series you created above to numpy array (use to_numpy(), or array )

In [30]:
import pandas as pd
s1=s([10,20,30,40,50])
s1.to_numpy()

array([10, 20, 30, 40, 50])

18. Delete an item from Series using single index.

In [31]:
import pandas as pd
s1=s([10,20,30,40,50])
s1.drop(2)

0    10
1    20
3    40
4    50
dtype: int64

19. Find the number of items in a series. (use len or count).

In [32]:
import pandas as pd
s1=s([10,20,30,40,50])
s1.count()

5

20. Append Series by assigning a value to a new index. (S[n]=v).

In [34]:
import pandas as pd
s1=s([10,20,30,40,50])
s1[5]=60
s1

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

21. Check if a value is present in a Series. (use type cast to a set or check in values).

In [35]:
import pandas as pd 
s1=s([10,20,30,40,50])
result=s1.isin([10,20,50])
result

0     True
1     True
2    False
3    False
4     True
dtype: bool

22. Print the index of a Series and also if all indexes appear only once. (use is_unique).

In [37]:
import pandas as pd
s1=s([10,20,30,40,50])
s1.index=['a','b','c','d','e']
s1.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

23. Create two Series one with default index, other with index like ‘a’,’b’,’c’,’d’, etc. then access both the Series based on label and position (use iloc for index position, and loc for index labels)

In [39]:
import pandas as pd
s1=s([1,2,3,4,5])
s2=s([10,20,30,40,50],index=['a','b','c','d','e'])
s1.iloc[0:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [40]:
s2.loc['a':'e']

a    10
b    20
c    30
d    40
e    50
dtype: int64

24. Try function at and iat on above problem and observe the difference in output with respect to loc and iloc

In [41]:
import pandas as pd
s2.at['b']

20

In [42]:
s2.iat[3]

40